.layout{
  display: flex;
  min-height: 100vh;
  padding-bottom: 100px;
}

.sider{
  width: 250px;
  height: 100vh;
}

.main{
  width: calc(100% - 250px);
  background-color: #F8F8F8;
}

.mainPer{
  width: 100%;
  background-color: #F8F8F8;
}

.container{
  margin: 24px;
}

.content{
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
}
